<li data-id="{{tag.id}}"
	class="litm--theme-tag {{#if embedded}}embedded{{/if}}">
	<!-- Tags embedded in the character sheet have different functionality -->
	{{#if embedded}}
		<!-- Select Tag button -->
		<button type="button" class="litm--theme-tag-button {{#if isActive}}checked{{/if}}" data-id="{{tag.id}}">
			<!-- isActive indicator -->
			<span class="litm--checkbox litm--checkbox-with-bg {{checked tag.isActive}}"></span>
			<!-- Name -->
			<span class="tag--name">{{localize (concat 'Litm.fulfillment.' tag.name)}}</span>
		</button>
	{{else}}
		<!-- Tag functionality in Items -->
		<!-- isActive checkbox -->
		<label data-tooltip="{{localize (tagActiveString tag false)}}"><span
				class="litm--sro">{{localize "Litm.tags.isActive"}}</span>
			<input class="litm--checkbox litm--checkbox-with-bg" type="checkbox" name="{{path}}.{{key}}.isActive"
				{{checked tag.isActive}} />
		</label>
		<!-- Name input -->
		<span class="tag--name">{{localize (concat 'Litm.fulfillment.' tag.name)}}</span>
		<input type="hidden" name="{{path}}.{{key}}.name" value="{{tag.name}}">
		<input type="hidden" name="{{path}}.{{key}}.type" value="{{tag.type}}">
		<input type="hidden" name="{{path}}.{{key}}.id" value="{{tag.id}}">
	{{/if}}
</li>