<li data-id="{{tag.id}}"
	class="litm--theme-tag {{#if embedded}}embedded{{/if}}">
	{{#if embedded}}
		<button type="button" class="litm--theme-tag-button litm--relationship {{#if (includes @root.helpingTags tag.id 'id')}}litm--theme-helping-tag{{/if}}"
			data-id="{{tag.id}}" data-context="tag-menu"
			{{#if (includes @root.rollTags tag.id 'id')}}data-selected{{/if}}>
			<span class="tag--name {{#if tag.isScratched}}scratched{{/if}}" data-click="select"
				data-id="{{tag.id}}">{{#if tag.isPrivate}}<i
				class="litm--secret-indicator fa-solid fa-mask"></i>{{/if}}<span
				class="litm--relationship-name">{{tag.fellowName}}</span>: {{tag.name}}</span>
			<span class="litm--sro">{{localize (ifThen tag.isScratched 'Litm.tags.isScratched' 'Litm.tags.scratch')}}</span>
			<span class="litm--scratch {{checked (or tag.isScratched (includes @root.scratchedTags tag.id 'id'))}}"
				data-click="toggle-tag-scratch" data-id="{{tag.id}}" aria-hidden="true"></span>
		</button>
	{{/if}}
</li>
