<li data-id="{{special.id}}"
	class="litm--special {{#if embedded}}embedded{{/if}}"
	draggable="true" data-drag-special="{{special.id}}" data-drag-special-path="{{path}}">
	{{#if embedded}}
		<div class="litm--special-inline">
			<span class="litm--special-name">{{special.name}}</span>
		</div>
		<span>{{{special.enrichedDescription}}}</span>
	{{else}}
		<!-- Name input -->
		<input class="litm--special-name tag--name" type="text" name="{{path}}.{{key}}.name" value="{{special.name}}">
		<!-- Description -->
		 <textarea rows="3" class="litm--special-description"
			name="{{path}}.{{key}}.description">{{special.description}}</textarea>
		<input type="hidden" name="{{path}}.{{key}}.id" value="{{special.id}}">
	{{/if}}
</li>
