<li {{#if remove}}data-context="remove-special" {{/if}} data-id="{{special.id}}"
	class="litm--special {{#if embedded}}embedded{{/if}}">
	<!-- Tags embedded in the character sheet have different functionality -->
	{{#if embedded}}
		<!-- Select Special button -->
		<button type="button" class="litm--special-button" data-id="{{special.id}}" data-tooltip="tooltip"
			{{#if (includes @root.rollTags special.id 'id')}}data-selected{{/if}} {{#if special.isActive}}data-click="select"
			{{/if}}
			{{#if special.isActive}}data-tooltip="{{localize ('Litm.ui.toggle-roll')}}"
			{{/if}}>
			<div class="litm--special-inline">
				<!-- isActive indicator -->
				<span class="litm--checkbox litm--checkbox-with-bg litm--special-checkbox {{checked special.isActive}}"></span>
				<!-- Name -->
				<span class="litm--special-name">{{special.name}}</span>
			</div>
			<!-- Description -->
			<span class="litm--special-description">{{special.description}}</span>
		</button>
	{{else}}
		<!-- Tag functionality in Items -->
		<!-- isActive checkbox -->
		<label data-tooltip="{{localize (tagActiveString special false)}}"><span
				class="litm--sro litm--special-sro">{{localize "Litm.tags.isActive"}}</span>
			<input class="litm--checkbox litm--checkbox-with-bg litm--special-checkbox" type="checkbox" name="{{path}}.{{key}}.isActive"
				{{checked special.isActive}} />
		</label>
		<!-- Name input -->
		<input class="litm--special-name tag--name" type="text" name="{{path}}.{{key}}.name" value="{{special.name}}">
		<!-- Description -->
		 <textarea rows="3" class="litm--special-description"
			name="{{path}}.{{key}}.description">{{special.description}}</textarea>
		<input type="hidden" name="{{path}}.{{key}}.id" value="{{special.id}}">
	{{/if}}
</li>