<li data-id="{{tag.id}}"
	class="litm--theme-tag {{#if embedded}}embedded{{/if}}">
	<!-- Tags embedded in the character sheet have different functionality -->
	{{#if embedded}}
		<!-- Select Tag button -->
		<button type="button" class="litm--theme-tag-button {{#if (includes @root.helpingTags tag.id 'id')}}litm--theme-helping-tag{{/if}}"
			data-id="{{tag.id}}" {{#if (includes @root.rollTags tag.id )}}data-selected{{/if}}
			{{#if (includes @root.burntTags tag.id 'id')}}data-burned{{/if}}
			{{#if contextMenu}}data-context="tag-menu"{{/if}}>
			<!-- isActive indicator -->
			<!-- Name -->
			<span class="tag--name {{#if tag.isScratched}}scratched{{/if}}" data-click="select"
				data-id="{{tag.id}}">{{#if tag.isPrivate}}<i
				class="litm--secret-indicator fa-solid fa-mask"></i>{{/if}}{{#if (includes @root.activeRoteTagIds tag.id)}}<i
				class="litm--rote-indicator fa-solid fa-wand-magic-sparkles" aria-hidden="true"></i>{{/if}}{{tag.name}}</span>
			<!-- isBurnt indicator -->
			<span class="litm--sro">{{localize (ifThen tag.isScratched 'Litm.tags.isScratched' 'Litm.tags.scratch')}}</span>
			<span class="litm--scratch {{checked (or tag.isScratched (includes @root.scratchedTags tag.id 'id'))}}"
				data-click="toggle-tag-scratch" data-id="{{tag.id}}" aria-hidden="true"></span>
		</button>
		<input type="hidden" name="{{path}}.{{key}}.type" value="{{tag.type}}">
		<input type="hidden" name="{{path}}.{{key}}.id" value="{{tag.id}}">
		<input type="hidden" name="{{path}}.{{key}}.name" value="{{tag.name}}">
		<input type="hidden" name="{{path}}.{{key}}.isScratched" data-dtype="Boolean" value="{{tag.isScratched}}">
	{{else}}
		<!-- Tag functionality in Items -->
		<!-- Name input -->
		<input class="tag--name" type="text" name="{{path}}.{{key}}.name" value="{{tag.name}}">
		<!-- isScratched checkbox -->
		<label>
			<span class="litm--sro">{{localize (ifThen tag.isScratched 'Litm.tags.isScratched' 'Litm.tags.scratch')}}</span>
			<input class="litm--scratch {{disabled tag.isScratched}} {{#if (includes @root.burntTags tag.id 'id')}} burnt{{/if}}" type="checkbox" name="{{path}}.{{key}}.isScratched" {{#unless tag.isScratched}}
				data-dtype="Boolean" data-tooltip="{{localize (ifThen tag.isScratched 'Litm.tags.isScratched' 'Litm.tags.scratch')}}" {{/unless}}
				{{checked tag.isScratched}} />
		</label>
		<input type="hidden" name="{{path}}.{{key}}.type" value="{{tag.type}}">
		<input type="hidden" name="{{path}}.{{key}}.id" value="{{tag.id}}">
	{{/if}}
</li>
