<article class="litm-reference-spending litm-enriched-theme-light">
	<header class="litm-reference-spending__title">
		<h1>{{localize "Litm.reference.spending-power.title"}}</h1>
		<p>{{localize "Litm.reference.content.spendingPowerPage.subtitle"}}</p>
	</header>
	<div class="litm-reference-spending__top">
		<section class="litm-reference-spending__intro litm-reference-spending__paper">
			{{{localize "Litm.reference.content.spendingPowerPage.intro"}}}
		</section>
		<section class="litm-reference-spending__costs litm-reference-spending__paper">
			<h2>{{localize "Litm.reference.content.spendingPowerPage.costsTitle"}}</h2>
			{{{localize "Litm.reference.content.spendingPowerPage.costs"}}}
		</section>
	</div>
	<section>
		<h2>{{localize "Litm.reference.content.spendingPowerPage.examplesTitle"}}</h2>
		<div class="litm-reference-spending__groups">
			{{{localize "Litm.reference.content.spendingPowerPage.examples"}}}
		</div>
	</section>
	<div class="litm-reference-spending__bottom">
		<aside class="litm-reference-spending__note litm-reference-spending__paper">
			<h2>{{localize "Litm.reference.content.spendingPowerPage.extraTitle"}}</h2>
			{{{localize "Litm.reference.content.spendingPowerPage.extra"}}}
		</aside>
		<section class="litm-reference-spending__reaction litm-reference-spending__paper">
			<h2>{{localize "Litm.reference.content.spendingPowerPage.reactionTitle"}}</h2>
			{{{localize "Litm.reference.content.spendingPowerPage.reaction"}}}
		</section>
	</div>
</article>
