{{#*inline 'divider' title add move}}
	<div class="litm--challenge-divider {{ifThen move 'grid-5' ''}}{{ifThen (and add (not move)) 'grid-4' ''}}">
		{{#if move}}
			<button class="litm--challenge-move" type="button"
				data-click="{{concat 'move-to-' move}}"
				aria-label="{{localize (concat 'Litm.ui.move-to-' move)}}"
				data-tooltip="{{localize (concat 'Litm.ui.move-to-' move) }}">
				<i class="far fa-tags"></i>
			</button>
		{{/if}}
		<img src="systems/litm-rn/assets/media/left-div.webp" aria-hidden="true" />
		<label for="limits">{{localize title}}</label>
		<img src="systems/litm-rn/assets/media/right-div.webp" aria-hidden="true" />
		{{#if add}}
			<button class="litm--challenge-add" type="button"
				data-click="{{concat 'add-' add}}"
				aria-label="{{localize (concat 'Litm.ui.add-' add)}}"
				data-tooltip="{{localize (concat 'Litm.ui.add-' add) }}">
				<i class="far fa-plus"></i>
			</button>
		{{/if}}
	</div>
{{/inline}}
{{#*inline 'tagItem' tag source editable}}
	{{#if tag.flags.litm-rn.type}}
		<li
			class="litm--tag-item litm--{{ifThen (eq tag.flags.litm-rn.type 'status') 'status' 'tag'}}"
			data-context="remove-effect" data-id="{{tag._id}}"
			data-tooltip="{{localize (concat 'Litm.other.' tag.flags.litm-rn.type)}}: {{tag.name}}{{#if tag.value}}{{concat '-' tag.value}}{{/if}}">
			<div class="litm--tag-item-container">
				<input class="litm--tag-item-name {{tag.flags.litm-rn.type}}" data-focus="select"
					name="{{source}}.{{tag._id}}.name" value="{{tag.name}}" type="text"
					{{#if (includes @root.selectedTags tag.id 'id' )}}data-selected{{/if}}
					{{ifThen editable "" "readonly"}} />
			</div>
			<div class="litm--tag-item-control">
				{{> toggle-hindering source=source tag=tag editable=editable}}
				<div class="litm--tag-item-status">
					{{#each tag.flags.litm-rn.values as |status|}} <input
						class="litm--tag-item-tier"
						name="{{../source}}.{{../tag._id}}.values" type="checkbox"
						value="{{add @index 1}}" {{disabled (not ../editable)}}
						{{checked status}} />
					{{/each}}
				</div>
			</div>
		</li>
	{{/if}}
{{/inline}} {{#*inline 'add-button' id}}
	<button type="button" data-click="add-tag" data-id="{{id}}"
		data-tooltip="{{localize 'Litm.ui.add-tag'}}">
		<span class="litm--sro">{{localize "Litm.ui.add-tag"}}</span>
		<i class="far fa-add"></i>
	</button>
{{/inline}} {{#*inline 'add-theme-button' id}}
	<button type="button" data-click="add-story-theme" data-id="{{id}}"
		data-tooltip="{{localize 'Litm.ui.add-story-theme'}}"
		style="margin-right: 2px; padding-right: 2px;">
		<span class="litm--sro">{{localize "Litm.ui.add-story-theme"}}</span>
		<i class="fas fa-file-circle-plus"></i>
	</button>
{{/inline}} {{#*inline 'toggle-hindering' source tag editable}}
	<input class="litm--checkbox litm--checkbox-with-bg litm--hindering-checkbox" type="checkbox"
		name="{{source}}.{{tag._id}}.isHindering"
		data-tooltip="{{localize (ifThen tag.flags.litm-rn.isHindering 'Litm.tags.isHindering' 'Litm.tags.toHindering')}}" 
		{{disabled (not editable)}} {{checked tag.flags.litm-rn.isHindering}} />
{{/inline}}

<datalist id="litm--challenge-types">
	{{#each data.system.challenges as |challenge|}}
		<option>{{localize (concat "Litm.challenges." challenge)}}</option>
	{{/each}}
</datalist>
<img class="litm--challenge-border"
	src="systems/litm-rn/assets/media/challenge-border.webp" aria-hidden="true">
<form class="{{cssClass}}" autocomplete="off">
	<div class="litm--challenge-meta">
		{{#if (gte data.permissionLevel 2)}}
			<label class="litm--sro"
				for="category">{{localize "Litm.other.category"}}</label>
			<input list="litm--challenge-types" type="text" data-size-input
				id="category" name="system.category" value="{{data.system.category}}" />
			<img src="systems/litm-rn/assets/media/separator.webp" alt="">
			<label class="litm--sro"
				for="rating">{{localize "Litm.other.rating"}}</label>
			<div role="button" class="litm--challenge-rating" data-click="increase"
				data-context="decrease" data-name="system.rating">
				{{#progress-buttons data.system.rating 5}}
					<span aria-hidden="true" class="{{ifThen @checked 'checked' ''}}"><img
							src="systems/litm-rn/assets/media/skull.webp" /></span>
				{{/progress-buttons}}
			</div>
			<input type="hidden" id="rating" name="system.rating"
				value="{{data.system.rating}}" />
		{{/if}}
	</div>
	<img class="litm--challenge-avatar" src="{{data.img}}" data-edit="img"
		alt="{{data.name}}">
	<div class="litm--challenge-bg"></div>
	<div class="litm--challenge-wrapper">
		<label for="name" class="litm--sro">{{localize "Name"}}</label>
		<input type="hidden" name="name" id="name" value="{{data.name}}" required />
		<span class="litm--challenge-name" role="textbox" contenteditable
			data-input="name">{{data.name}}</span>
		<label class="litm--sro" for="note">{{localize "Notes"}}</label>
		{{editor data.system.note target="system.note" owner=owner button=true editable=true engine="prosemirror"}}
		{{#if (gte data.permissionLevel 2)}}
			{{> divider title="Litm.other.limits" add="limit"}}
			<ul class="litm--challenge-limits">
				{{#each data.system.limits as |limit|}}
					<li class="litm--challenge-limit" data-context="remove-limit"
						data-id="{{@key}}">
						<label class="litm--sro"
							for="limit-{{limit.name}}-name">{{localize "Name"}}</label>
						<input class="litm--limit-label" type="text" data-size-input
							id="limit-{{limit.name}}-name" name="system.limits.{{@key}}.name"
							value="{{limit.name}}" />
						<label class="litm--sro"
							for="limit-{{limit.name}}-value">{{localize "Value"}}</label>
						<input class="litm--limit-value" type="number"
							id="limit-{{limit.name}}-value" name="system.limits.{{@key}}.value"
							placeholder="-" value="{{limit.value}}" />
					</li>
				{{/each}}
			</ul>
			{{> divider title="Litm.ui.tags-statuses"}}
			<label class="litm--sro" for="tags"
				id="tags-label">{{localize 'Litm.other.tags'}}</label>
			<div class="litm--challenge-tags">
				{{#if isEditing}}
					<span role="textbox" contenteditable data-input="tags"
						aria-labelledby="tags-label">{{data.system.tags}}</span><input
						type="hidden" id="tags" name="system.tags"
						value="{{data.system.tags}}" required />
				{{else}}
					<div id="tags" data-click="toggle-edit">
						{{{data.system.renderedTags}}}
					</div>
				{{/if}}
			</div>
			<!-- Active Effects -->
			{{> divider title="Litm.ui.active-effects" add="effect" move="story"}}
			<div class="litm--story-effects">
				<ul>
					{{#each data.effects as |tag|}}
						{{> tagItem tag=tag source=../data._id editable=true}}
					{{/each}}
				</ul>
			</div>
			{{> divider title="Litm.ui.special-features"}}
			{{editor data.system.special target="system.special" owner=owner button=true editable=true engine="prosemirror"}}
			{{> divider title="Litm.ui.threats-consequences" add="threat"}}
			<ul class="litm--challenge-threats item-list">
				{{#each data.items as |item|}}
					<li class="item" data-dblclick="edit-item" data-context="remove-threat"
						data-id="{{item.data._id}}" data-item-id="{{item.data._id}}"
						data-tooltip="{{localize 'Litm.ui.dblclick-open'}}">
						<div>
							<span class="litm--threat-name">{{item.data.name}}</span>
							<span class="litm--threat-desc">> {{item.data.system.threat}}</span>
						</div>
						{{#each item.data.system.consequences as |consequence|}}
							<div>>> {{{consequence}}}</div>
						{{/each}}
					</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
</form>