.litm.litm--story-tags {
	min-width: 320px;
	max-width: 600px;
	min-height: 250px;
	border-radius: 0px;
	overflow: hidden;
	overflow: clip;

	&:not(.minimized) {
		outline: 2px solid var(--litm-color);
		outline-offset: -10px;
	}

	& .window-header {
		background: url(../../assets/media/base-theme-alt-bg-top.webp) no-repeat
			bottom / cover;
		padding-block-end: var(--litm-space-4);
		flex-wrap: nowrap;
		align-items: baseline;

		& .window-title {
			display: inline;
			font-size: var(--font-size-14);
			text-transform: uppercase;
		}
	}

	& form {
		position: relative;
		margin-right: -6px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		scrollbar-gutter: stable;
	}

	& fieldset {
		border: none;
		margin: 0px;
		padding: 0px;
	}

	& .window-content form section {
		display: flex;
		flex-direction: column;
		margin-block-start: var(--litm-space-2);
		flex: 1;

		&:last-of-type {
			height: 100%;
		}
	}

	& hr {
		border: none;
		min-height: 16px;
		background: url(../../assets/media/separator.webp) no-repeat center /
			contain;
		width: 95%;
	}

	& .litm--story-tags-main,
	& .litm--story-tags-actor {
		border: none;
		display: flex;
		flex-direction: column;

		& .litm--story-tags-section-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: var(--litm-space-1);

			& legend {
				flex: 1 0 auto;
				margin-inline-start: -2px;
				padding: 0.4em 20px 0.4em 6px;
				background: url(../../assets/media/section-bg.webp) no-repeat center /
					auto;
				background-position: left;
				background-size: cover;
				color: var(--litm-color-primary-bg);
				font-family: var(--litm-font-primary);
				font-size: var(--font-size-16);
				line-height: var(--font-size-16);

				& img {
					aspect-ratio: 1 / 1;
					max-width: 25px;
					flex: none;
				}
			}

			& button {
				border: none;
				background: none;
				color: var(--litm-color-weakness);
				font-size: var(--font-size-20);
				margin-inline-end: var(--litm-space-2);
				flex: none;
				width: auto;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
					text-shadow: 0 0 4px var(--litm-color-weakness);
				}
			}
		}

		& ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 10px 0;
			padding: 0 var(--litm-space-1);
			gap: var(--litm-space-1);

			& li.litm--tag-item {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border: none;
				padding: 2px var(--litm-space-1);
				gap: var(--litm-space-2);

				& .litm--tag-item-container {
					position: relative;
					display: flex;
					align-items: center;
					gap: var(--litm-space-1);
					flex: 0 1 auto; 
					min-width: 20px;
				}

				& div[contenteditable="true"].litm--tag-item-name {
					box-shadow: inset  0 0 3px var(--color-shadow-primary);
					border-radius: 3px;

					&.status[data-selected],
					&.tag[data-selected] {
					}

					&:focus {
						box-shadow: 0 0 5px var(--color-shadow-primary);
						outline: 1px solid transparent;
						outline-offset: 2px;
					}
				}

				& div[contenteditable="true"].litm--tag-item-name {
					field-sizing: content;
					white-space: nowrap;
					overflow-x: auto;
					scrollbar-width: none;
				}
				& div.litm--tag-item-name {
					overflow-x: clip;
					padding: 0 2px;
				}

				& .litm--tag-item-name {
					background: transparent;
					border: none;
					font-family: var(--litm-font-text);
					font-size: var(--font-size-15);
					color: var(--litm-color-primary);
					min-width: 10px;
					max-width: 100%;
					width: 100%;
					padding: 0px;

					&:read-only {
						cursor: pointer;

						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}

					&.status[data-selected]::before,
					&.tag[data-selected]::before {
						content: "";
						position: absolute;
						width: calc(100% + 10px);
						height: calc(5px + 100%);
						background: url(../../assets/media/brush.svg) no-repeat center;
						background-blend-mode: color;
						background-size: contain;
						opacity: 0.8;
						top: -2px;
						pointer-events: none;
					}
				}

				& .litm--burn-label {
					height: var(--font-size-18);
					& .litm--burn {
						height: var(--font-size-18);
					}
				}

				& .litm--scratch-label {
					height: var(--font-size-18);
					& .litm--scratch {
						height: var(--font-size-18);
					}
				}

				& .litm--active-label {
					font-size: var(--font-size-11);
					line-height: 1;
					color: var(--litm-color-weakness);
				}

				& .litm--tag-item-control {
					display: flex;
					align-items: center;

					& input.litm--hindering-checkbox {
						width: 18px;
						height: 18px;
						margin-right: var(--litm-space-1)
					}
				}

				& .litm--tag-item-status {
					flex: none;
					margin-inline: auto 0;
					display: flex;
					align-items: center;
					gap: 2px;

					& [type="checkbox"] {
						flex: none;
						appearance: none;
						background: white;
						cursor: pointer;
						margin: 0;
						padding: 0;
						width: 13px;
						height: 13px;
						border-radius: 4px;
						border: 1px solid var(--litm-color);

						&:checked {
							background: var(--litm-color);
						}
					}
				}
			}
		}
	}

	& .litm--story-tags-no-actors {
		display: grid;
		place-content: center;
		text-align: center;
		color: var(--litm-color);
		margin: var(--litm-space-3);
		border-radius: 8px;
		padding: var(--litm-space-3);

		& img {
			aspect-ratio: 1 / 1;
			max-width: 75px;
			margin-inline: auto;
		}
	}
}
