{{#*inline "section" name value flavor flavorClass id isPrivate actorRef actorId}}
<section class="tooltip-part">
	<header class="part-header flexrow">
		<span class="part-formula"
			data-tag-id="{{id}}"
			data-private="{{isPrivate}}"
			data-actor-ref="{{actorRef}}"
			data-actor-id="{{actorId}}">{{name}}</span>
		{{#if flavor}}<span class="part-flavor {{flavorClass}}">{{flavor}}</span>{{/if}}
		<span class="part-total">{{value}}</span>
	</header>
</section>
{{/inline}}
{{#*inline "might" value flavor flavorClass}}
<section class="tooltip-part">
	<header class="part-header flexrow">
		<span class="part-formula">{{localize "Litm.other.might"}}</span>
		{{#if flavor}}<span class="part-flavor {{flavorClass}}">{{flavor}}</span>{{/if}}
		<span class="part-total">{{value}}</span>
	</header>
</section>
{{/inline}}

<div class="dice-tooltip">
	<div class="wrapper">
		{{#each parts}}
		<section class="tooltip-part">
			<div class="dice">
				<header class="part-header flexrow">
					<span class="part-formula">{{this.formula}}</span>
					{{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
					<span class="part-total">{{this.total}}</span>
				</header>
				<ol class="dice-rolls">
					{{#each this.rolls}}
					<li class="roll {{this.classes}}">{{{this.result}}}</li>
					{{/each}}
				</ol>
			</div>
		</section>
		{{/each}}
		{{#each data.burntTags as |tag|}}
		{{> section name=tag.name value=3 flavor=(localize 'Litm.tags.isBurnt') flavorClass="burned"
			id=tag.id isPrivate=tag.isPrivate actorRef=tag.actorRef actorId=tag.actorId}}
		{{/each}}
		{{#each data.powerTags as |tag|}}
		{{> section name=tag.name value=1 flavor=(ifThen (eq tag.type 'storyTag') (localize "Litm.other.tag") "")
			flavorClass=(ifThen (eq tag.type "storyTag") "warning" "")
			id=tag.id isPrivate=tag.isPrivate actorRef=tag.actorRef actorId=tag.actorId}}
		{{/each}}
		{{#if data.mitigate}}
		{{> section name=(localize 'Litm.effects.mitigate.key') value=1}}
		{{/if}}
		<!-- TODO: Добавить фильтр просто weaknessTags от heroWeaknessTags -->
		<!-- TODO: Добавить crispyTags -->
		{{#each data.weaknessTags as |tag|}}
		{{> section name=tag.name value=-1 flavor=(ifThen (or (eq tag.type 'weaknessTag') (eq tag.type 'weaknessStoryTag')) (localize 'Litm.tags.weakness')
			(localize 'Litm.other.tag')) flavorClass=(ifThen (or (eq tag.type 'weaknessTag') (eq tag.type 'weaknessStoryTag')) "negative" "warning")
			id=tag.id isPrivate=tag.isPrivate actorRef=tag.actorRef actorId=tag.actorId}}
		{{/each}}
		{{#each data.positiveStatuses as |tag|}}
		{{> section name=tag.name value=tag.value
			flavor=(localize (ifThen (eq tag.type 'might') 'Litm.other.might' 'Litm.other.status'))
			flavorClass="positive"
			id=tag.id isPrivate=tag.isPrivate actorRef=tag.actorRef actorId=tag.actorId}}
		{{/each}}
		{{#each data.negativeStatuses as |tag|}}
		{{> section name=tag.name value=(concat "-" tag.value)
			flavor=(localize (ifThen (eq tag.type 'might') 'Litm.other.might' 'Litm.other.status'))
			flavorClass="positive"
			id=tag.id isPrivate=tag.isPrivate actorRef=tag.actorRef actorId=tag.actorId}}
		{{/each}}
		{{#if data.modifier}}
		{{> section name=(localize 'Litm.ui.modifier') value=data.modifier flavor="" flavorClass=""}}
		{{/if}}
		{{#if (not (eq data.might '0'))}}
		{{> might value=data.might flavor="" flavorClass=""}}
		{{/if}}
	</div>
</div>