{{#*inline 'tag' tag level}}
<li>
	<label class="litm--roll-dialog-tag litm--{{tag.type}} {{ifThen (eq tag.type 'might') (concat 'litm--' level) ''}}"
			data-click="toggle-state" for="input-{{tag.id}}">
		<span class="litm--sro">{{localize "Litm.ui.select"}}</span>
		<litm-super-checkbox name="{{tag.id}}" id="input-{{tag.id}}" value="{{tag.state}}" data-type="{{tag.type}}"
			states="{{tag.states}}"></litm-super-checkbox>
		<span>{{ifThen tag.displayName tag.displayName tag.name}}{{ifThen tag.value (concat "-" tag.value) ""}}</span>
	</label>
</li>
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
	<input type="hidden" name="actorId" value="{{actorId}}">
	<input class="title" type="text" name="title" value="{{title}}" />
	<div class="litm--roll-dialog-type">
		<h3 class="litm--sro">{{concat (localize "Litm.other.roll") " " (localize "Type")}}</h3>
		<div class="litm--roll-dialog-type-choices">{{radioBoxes "type" rollTypes checked=type localize=true}}
		</div>
	</div>
	<div class="litm--roll-dialog-tags-summary">
		<hr />
		<ul>
			<!-- Tags selected on Character Sheet -->
			{{#each characterTags as |tag|}}
			{{> tag tag=tag}}
			{{/each}}
		</ul>
		<hr />
		<ul>
			<!-- Personal (leaf) Statuses -->
			{{#each statuses as |status|}}
			{{> tag tag=status}}
			{{/each}}
			<!-- Personal (leaf) Story Tags -->
			{{#each tags as |tag|}}
			{{> tag tag=tag}}
			{{/each}}
		</ul>
		<hr />
		<ul>
			<!-- Selected Story Statuses -->
			{{#each storyStatuses as |status|}}
			{{> tag tag=status}}
			{{/each}}
			<!-- Selected Story Tags -->
			{{#each storyTags as |tag|}}
			{{> tag tag=tag}}
			{{/each}}
			<!-- Selected Story Might -->
			{{#each storyMights as |might|}}
			{{> tag tag=might level=(ifThen (eq might.value 0) 'origin' (ifThen (eq might.value 3) 'adventure' 'greatness')) }}
			{{/each}}
			<!-- Tags selected to help on Character Sheet -->
			{{#each helpingTags as |tag|}}
			{{> tag tag=tag}}
			{{/each}}
		</ul>
		<hr />
		<div class="litm--roll-dialog-might-container">
			<div class="litm--might-name-wrapper">
        <span class="litm--roll-dialog-might-name">
					{{localize "Litm.other.might"}}
        </span>
        <div class="litm--might-tooltip">
					<p>{{localize "Litm.might-scale.action-scale"}}</p>
					<table class="litm--might-table">
						<thead>
							<tr>
								<th>{{localize "Litm.other.might"}}</th>
								<th>{{localize "Litm.might-scale.scale"}}</th>
								<th>{{localize "Litm.might-scale.area"}}</th>
								<th>{{localize "Litm.might-scale.size"}}</th>
								<th>{{localize "Litm.might-scale.group"}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2" class="litm--might-table-img">
									<img src="systems/litm-rn/assets/media/icons/origin-color_litm_icn.svg" />
									<span>{{localize "origin"}}</span>
								</td>
								<td>0</td>
								<td>{{localize "Litm.might-scale.area-0"}}</td>
								<td>{{localize "Litm.might-scale.size-0"}}</td>
								<td>{{localize "Litm.might-scale.group-0"}}</td>
							</tr>
							<tr>
								<td>1</td>
								<td>{{localize "Litm.might-scale.area-1"}}</td>
								<td>{{localize "Litm.might-scale.size-1"}}</td>
								<td>{{localize "Litm.might-scale.group-1"}}</td>
							</tr>
							<tr>
								<td rowspan="3" class="litm--might-table-img">
									<img src="systems/litm-rn/assets/media/icons/adventure-color_litm_icn.svg" />
									<span>{{localize "adventure"}}</span>
								</td>
								<td>2</td>
								<td>{{localize "Litm.might-scale.area-2"}}</td>
								<td>{{localize "Litm.might-scale.size-2"}}</td>
								<td>{{localize "Litm.might-scale.group-2"}}</td>
							</tr>
							<tr>
								<td>3</td>
								<td>{{localize "Litm.might-scale.area-3"}}</td>
								<td>{{localize "Litm.might-scale.size-3"}}</td>
								<td>{{localize "Litm.might-scale.group-3"}}</td>
							</tr>
							<tr>
								<td>4</td>
								<td>{{localize "Litm.might-scale.area-4"}}</td>
								<td>{{localize "Litm.might-scale.size-4"}}</td>
								<td>{{localize "Litm.might-scale.group-4"}}</td>
							</tr>
							<tr>
								<td rowspan="2" class="litm--might-table-img">
									<img src="systems/litm-rn/assets/media/icons/greatness-color_litm_icn.svg" />
									<span>{{localize "greatness"}}</span>
								</td>
								<td>5</td>
								<td>{{localize "Litm.might-scale.area-5"}}</td>
								<td>{{localize "Litm.might-scale.size-5"}}</td>
								<td>{{localize "Litm.might-scale.group-5"}}</td>
							</tr>
							<tr>
								<td>6</td>
								<td>{{localize "Litm.might-scale.area-6"}}</td>
								<td>{{localize "Litm.might-scale.size-6"}}</td>
								<td>{{localize "Litm.might-scale.group-6"}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="litm--roll-dialog-might">
				<label class="litm--might-option">
					<input type="radio" name="might" value="-6" {{checked (eq might -6)}}>
					<span>-6</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="-5" {{checked (eq might -5)}}>
					<span>-5</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="-4" {{checked (eq might -4)}}>
					<span>-4</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="-3" {{checked (eq might -3)}}>
					<span>-3</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="-2" {{checked (eq might -2)}}>
					<span>-2</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="-1" {{checked (eq might -1)}}>
					<span>-1</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="0" {{checked (eq might 0)}}>
					<span>0</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="1" {{checked (eq might 1)}}>
					<span>1</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="2" {{checked (eq might 2)}}>
					<span>2</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="3" {{checked (eq might 3)}}>
					<span>3</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="4" {{checked (eq might 4)}}>
					<span>4</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="5" {{checked (eq might 5)}}>
					<span>5</span>
				</label>
				<label class="litm--might-option">
					<input type="radio" name="might" value="6" {{checked (eq might 6)}}>
					<span>6</span>
				</label>
			</div>
		</div>
	</div>
	<div class="litm--roll-dialog-modifier">
		<label for="modifier-input">
			<span>{{localize "Litm.ui.modifier"}}: </span>
			<input id="modifier-input" type="number" name="modifier" value="{{modifier}}" data-update="modifier" />
		</label>
	</div>
	<div class="litm--tags-summary-total">
		<span>{{localize "Litm.ui.total-power"}}: </span>
		<span data-update="totalPower">{{totalPower}}</span>
	</div>
	<button type="button" data-click="add-tag">{{localize "Litm.other.add"}} {{localize "Litm.other.tags"}}</button>
	<div class="litm--roll-dialog-buttons">
		<label class="litm--roll-dialog-skip-moderation">
			<span>{{localize "Litm.ui.skip-moderation"}}</span>
			<input class="litm--checkbox" type="checkbox" name="shouldRoll" {{checked skipModeration}} />
		</label>
		<button type="submit">{{localize "Litm.ui.roll"}}</button>
	</div>
</form>