<div class="litm--rote-use-body">
	<div class="litm--rote-use-heading"><img src="{{rote.img}}" alt=""><div><strong>{{rote.name}}</strong><span>{{actor.name}}</span></div></div>
	<p class="litm--rote-use-hint">{{localize "Litm.rote.use-hint"}}</p>
	<div class="litm--rote-use-options">
		<button type="button" data-rote-mode="simpleSuccess"><span>{{localize "Litm.rote.simple"}}</span><span>({{localize "Litm.rote.simple-success-option"}})</span></button>
		<button type="button" data-rote-mode="simpleConsequence"><span>{{localize "Litm.rote.simple"}}</span><span>({{localize "Litm.rote.simple-consequence-option"}})</span></button>
	</div>
	<div class="litm--rote-use-options litm--rote-use-options--rolls">
		<button type="button" data-rote-mode="quick">{{localize "Litm.ui.roll-quick"}}</button>
		<button type="button" data-rote-mode="tracked">{{localize "Litm.ui.roll-tracked"}}</button>
		<button type="button" data-rote-mode="reaction">{{localize "Litm.ui.roll-reaction"}}</button>
	</div>
</div>
