<form autocomplete="off" class="litm--backpack-wrapper">
	<img width="380px" class="litm--backpack-img" src="systems/litm-rn/assets/media/backpack.webp"
		alt="Soft illustration of a rustic backpack" />
	<img width="270px" class="litm--backpack-bg-frame" src="systems/litm-rn/assets/media/background-frame.webp"
		aria-hidden="true">
	<div class="litm--backpack-bg">
		<div class="meta">
			<button class="litm--specials litm--specials-button" type="button" data-click="toggle-backside"
				data-tooltip="{{localize 'Litm.ui.tags-quintessence'}}">
				<img src="systems/litm-rn/assets/media/icons/{{ifThen backside 'special_icn.svg' 'special-front_icn.svg'}}"
					alt="{{localize 'Litm.other.specials'}}" class="litm--specials-backside"/>
			</button>
			{{localize (ifThen backside 'Litm.other.quintessences' 'Litm.tags.item-tags')}}
		</div>
		<input class="title" name="name" value="{{name}}" />
		{{#if backside}}
			<ul class="taglist">
				{{#each specials as |special|}}
					{{> systems/litm-rn/templates/partials/special.html special=special key=@key path="system.specials" readonly=false remove=true}}
				{{/each}}
			</ul>
		{{else}}
			<ul class="taglist">
				{{#if isCharacterEmbedded}}
					{{#each stories as |story|}}
						<li class="litm--backpack-story litm--story-{{story.system.level}}" data-id="{{story.id}}"
							data-dblclick="open-story" data-context="remove-story" draggable="true"
							data-tooltip="{{localize 'Litm.ui.click-open-context-remove'}}<hr>{{story.system.note}}">
							<div class="litm--story-wrapper">
								<div class="litm--theme-title-wrapper">
									<button type="button" class="litm--collapse-btn" data-click="toggle-collapse" data-target="{{story.id}}">
										<i class="fas fa-angle-down"></i>
									</button>
									<!-- Story title -->
									<div class="litm--theme-title">
										<span class="litm--theme-name{{#if story.system.themeTag.isScratched}} scratched{{/if}}">
											{{story.name}}
										</span>
										<span class="litm--scratch {{checked (or story.system.themeTag.isScratched (includes @root.scratchedTags story.system.themeTag.id 'id'))}}"
											aria-hidden="true"></span>
									</div>
								</div>
								<div class="litm--story-tags-collapsible" data-collapse-id="{{story.id}}">
									<!-- Power Tags (read-only) -->
									<ul class="litm--theme-tags">
										{{#each story.system.powerTags as |tag|}}
											<li class="litm--tag-readonly{{#if tag.isScratched}} scratched{{/if}}">
												<span>{{tag.name}}</span>
												<span class="litm--scratch {{checked (or tag.isScratched (includes @root.scratchedTags tag.id 'id'))}}"
													aria-hidden="true"></span>
											</li>
										{{/each}}
									</ul>
									<!-- Weakness Tags (read-only) -->
									{{#each story.system.weaknessTags as |tag|}}
										<div class="litm--weakness">
											<span class="litm--weakness-part{{#if tag.isScratched}} scratched{{/if}}">{{tag.name}}</span>
										</div>
									{{/each}}
								</div>
							</div>
						</li>
					{{/each}}
				{{/if}}
				{{#each backpack as |tag|}}
					{{> systems/litm-rn/templates/partials/tag.html tag=tag key=@key path="system.contents" readonly=false remove=true}}
				{{/each}}
			</ul>
		{{/if}}
		{{#if backside}}
			<button type="button" data-click="add-special">{{localize "Litm.ui.add-quintessence"}}</button>
		{{else}}
		{{#if isCharacterEmbedded}}
			<button type="button" data-click="add-story">{{localize "Litm.ui.add-story"}}</button>
		{{/if}}
			<button type="button" data-click="add-tag">{{localize "Litm.ui.add-tag"}}</button>
		{{/if}}
	</div>
</form>