<div class="litm--fc-card {{system.level}}">
	<div class="litm--fc-bg" style="--fc-transition-src:url('/{{transitionSrc}}');" aria-hidden="true"></div>

	<div class="litm--fc-left">
		<div class="litm--fc-header">
			<div class="litm--image-dropdown litm--fc-level" data-name="system.level">
				<input type="hidden" name="system.level" value="{{system.level}}" />
				<div class="selected-image" data-click="open-levels" data-tooltip="{{localize 'Litm.other.might-theme'}}">
					<img src="{{themeiconsrc}}_litm_icn.svg" alt="" />
					<span class="litm--fc-level-label">{{currentLevelLabel}}</span>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="dropdown-options">
					{{#each system.levels as |label key|}}
						<div class="image-option" data-click="select-level" data-value="{{key}}">
							<img src="systems/litm-rn/assets/media/icons/{{key}}_litm_icn.svg" alt="" />
							<span>{{label}}</span>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="litm--fc-themebook-picker">
				{{#if customThemebookEditing}}
				<input class="litm--fc-themebook litm--fc-themebook-custom" type="text"
					name="system.themebook" value="{{system.themebook}}"
					placeholder="{{localize 'Litm.themebook-picker.fellowship-custom'}}" />
				{{else if linkedThemebook}}
				<button type="button" class="litm--fc-themebook litm--fc-themebook-link" data-click="open-themebook"
					data-uuid="{{linkedThemebook.uuid}}" data-tooltip="{{localize 'Litm.themebook-picker.open-player-view'}}">
					{{linkedThemebook.name}}
				</button>
				{{else}}
				<span class="litm--fc-themebook">{{system.themebook}}</span>
				{{/if}}
				<button type="button" class="litm--fc-themebook-toggle" data-click="toggle-themebooks"
					aria-label="{{localize 'Litm.themebook-picker.choose'}}">
					<i class="fa-solid fa-angle-down"></i>
				</button>
				<div class="litm--fc-themebook-popover">
					<input type="search" data-themebook-search
						placeholder="{{localize 'Litm.themebook-picker.search'}}" />
					<button type="button" class="litm--fc-themebook-custom-option"
						data-click="select-custom-themebook">
						<i class="fa-solid fa-pen"></i>
						<span>{{localize "Litm.themebook-picker.fellowship-custom"}}</span>
					</button>
					<div class="litm--fc-themebook-list">
						{{#each themebookGroups}}
						<section data-themebook-group>
							<h4>{{label}}</h4>
							{{#each items}}
							<button type="button" class="litm--fc-themebook-option" data-themebook-row
								data-search="{{name}}" data-click="select-themebook" data-uuid="{{uuid}}">
								<img src="{{icon}}" alt="" />
								<span>{{name}}</span>
							</button>
							{{/each}}
						</section>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div class="litm--fc-title">
			<span class="litm--fc-title-name{{#if system.themeTag.isScratched}} scratched{{/if}}" contenteditable="true"
				data-input="title">{{title}}</span>
			<input type="hidden" name="system.themeTag.name" id="title" value="{{title}}" />
			<input type="hidden" name="system.themeTag.id" value="{{system.themeTag.id}}">
			<input type="hidden" name="system.themeTag.type" value="{{system.themeTag.type}}">
			<label class="litm--fc-scratch-label">
				<input class="litm--scratch litm--fc-scratch litm--fc-scratch--lg" type="checkbox"
					name="system.themeTag.isScratched"
					data-dtype="Boolean" {{checked system.themeTag.isScratched}} />
			</label>
		</div>

		<div class="litm--fc-scroll">
			<ul class="litm--fc-tags">
				{{#each system.powerTags as |tag idx|}}
					<li class="litm--fc-tag-row" data-id="{{tag.id}}">
						<span class="litm--fc-tag-name{{#if tag.isScratched}} scratched{{/if}}" contenteditable="true"
							data-input="pname-{{idx}}"
							data-placeholder="{{localize 'Litm.ui.name-power'}}">{{tag.name}}</span>
						<input type="hidden" name="system.powerTags.{{idx}}.name"
							id="pname-{{idx}}" value="{{tag.name}}" />
						<input type="hidden" name="system.powerTags.{{idx}}.type" value="{{tag.type}}" />
						<input type="hidden" name="system.powerTags.{{idx}}.id" value="{{tag.id}}" />
						<label class="litm--fc-scratch-label">
							<input class="litm--scratch litm--fc-scratch" type="checkbox"
								name="system.powerTags.{{idx}}.isScratched"
								data-dtype="Boolean" {{checked tag.isScratched}} />
						</label>
						<button type="button" class="litm--fc-remove" data-click="remove-power-tag" data-id="{{tag.id}}"
							data-tooltip="{{localize 'Litm.ui.remove-tag'}}"><i class="fas fa-times"></i></button>
					</li>
				{{/each}}
				{{#each system.draftTags as |draft idx|}}
					{{#unless draft.isWeakness}}
					<li class="litm--fc-draft-row" data-id="{{draft.id}}">
						<button type="button" class="litm--fc-draft-marker litm--fc-draft-marker--inactive"
							data-click="toggle-draft-weakness" data-id="{{draft.id}}"
							data-tooltip="{{localize 'Litm.tags.power-tag'}}"></button>
						<span class="litm--fc-draft-name" contenteditable="true"
							data-input="dname-{{idx}}"
							data-placeholder="{{localize 'Litm.ui.name-tag'}}">{{draft.name}}</span>
						<input type="hidden" name="system.draftTags.{{idx}}.name"
							id="dname-{{idx}}" value="{{draft.name}}" />
						<input type="hidden" name="system.draftTags.{{idx}}.id" value="{{draft.id}}" />
						<input type="hidden" name="system.draftTags.{{idx}}.isWeakness" data-dtype="Boolean" value="{{draft.isWeakness}}" />
						<button type="button" class="litm--fc-draft-promote" data-click="promote-draft" data-id="{{draft.id}}"
							data-tooltip="{{localize 'Litm.ui.add-tag'}}">
							<i class="fas fa-plus"></i>
						</button>
						<button type="button" class="litm--fc-remove" data-click="remove-draft-tag" data-id="{{draft.id}}"
							data-tooltip="{{localize 'Litm.ui.remove'}}"><i class="fas fa-times"></i></button>
					</li>
					{{/unless}}
				{{/each}}
			</ul>

			<div class="litm--fc-weakness">
				{{#if (or system.weaknessTags.length hasWeaknessDrafts)}}
				<div class="litm--fc-weakness-title">{{localize "Litm.tags.weaknesses"}}</div>
				{{/if}}
				<ul class="litm--fc-weakness-list">
					{{#each system.weaknessTags as |tag idx|}}
						<li class="litm--fc-weakness-row" data-id="{{tag.id}}">
							<span class="litm--fc-weakness-name" contenteditable="true"
								data-input="wname-{{idx}}"
								data-placeholder="{{localize 'Litm.ui.name-weakness'}}">{{tag.name}}</span>
							<input type="hidden" name="system.weaknessTags.{{idx}}.name"
								id="wname-{{idx}}" value="{{tag.name}}" />
							<input type="hidden" name="system.weaknessTags.{{idx}}.type" value="{{tag.type}}" />
							<input type="hidden" name="system.weaknessTags.{{idx}}.id" value="{{tag.id}}" />
							<input type="hidden" name="system.weaknessTags.{{idx}}.isScratched" data-dtype="Boolean" value="{{tag.isScratched}}" />
							<button type="button" class="litm--fc-remove litm--fc-remove--weakness" data-click="remove-weakness-tag" data-id="{{tag.id}}"
								data-tooltip="{{localize 'Litm.ui.remove-tag'}}"><i class="fas fa-times"></i></button>
						</li>
					{{/each}}
					{{#each system.draftTags as |draft idx|}}
						{{#if draft.isWeakness}}
						<li class="litm--fc-draft-row litm--fc-draft-row--weakness" data-id="{{draft.id}}">
							<button type="button" class="litm--fc-draft-marker litm--fc-draft-marker--active"
								data-click="toggle-draft-weakness" data-id="{{draft.id}}"
								data-tooltip="{{localize 'Litm.tags.weakness-tag'}}"></button>
							<span class="litm--fc-draft-name" contenteditable="true"
								data-input="dname-{{idx}}"
								data-placeholder="{{localize 'Litm.ui.name-tag'}}">{{draft.name}}</span>
							<input type="hidden" name="system.draftTags.{{idx}}.name"
								id="dname-{{idx}}" value="{{draft.name}}" />
							<input type="hidden" name="system.draftTags.{{idx}}.id" value="{{draft.id}}" />
							<input type="hidden" name="system.draftTags.{{idx}}.isWeakness" data-dtype="Boolean" value="{{draft.isWeakness}}" />
							<button type="button" class="litm--fc-draft-promote" data-click="promote-draft" data-id="{{draft.id}}"
								data-tooltip="{{localize 'Litm.ui.add-tag'}}">
								<i class="fas fa-plus"></i>
							</button>
							<button type="button" class="litm--fc-remove" data-click="remove-draft-tag" data-id="{{draft.id}}"
								data-tooltip="{{localize 'Litm.ui.remove'}}"><i class="fas fa-times"></i></button>
						</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
		</div>

		<div class="litm--fc-draft-add">
			<button type="button" data-click="add-draft-tag">{{localize "Litm.ui.add-draft-tag"}}</button>
		</div>
		<div class="litm--fc-tag-add">
			<button type="button" data-click="add-power-tag">
				<span>{{localize "Litm.ui.add-power-tag"}}</span>
			</button>
			<span class="litm--fc-tag-add-separator"></span>
			<button type="button" data-click="add-weakness-tag">
				<span>{{localize "Litm.ui.add-weakness-tag"}}</span>
			</button>
		</div>

		<div class="litm--fc-progression">
			<div class="litm--fc-progress" data-click="increase" data-context="decrease" data-id="system.abandon"
				data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
				<div class="litm--fc-pips">
					{{#progress-buttons system.abandon 3}}
					<span class="litm--fc-pip {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
				</div>
				<input id="abandon" class="litm--sro" type="number" name="system.abandon" value="{{system.abandon}}" />
				<label for="abandon">{{localize "Litm.progress.abandon"}}</label>
			</div>
			<div class="litm--fc-progress litm--fc-progress--reverse" data-click="increase" data-context="decrease" data-id="system.improve"
				data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
				<div class="litm--fc-pips">
					{{#progress-buttons system.improve system.improveTrackLength}}
					<span class="litm--fc-pip {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
				</div>
				<input id="improve" class="litm--sro" type="number" name="system.improve" value="{{system.improve}}" />
				<label for="improve">{{localize "Litm.progress.improve"}}</label>
				{{#if system.availableImprovements}}<button type="button" class="litm--advancement-tab litm--fc-improvement-bank" data-click="open-fellowship-advancement" data-tooltip="{{localize 'Litm.advancement.improve'}}"><i class="fa-solid fa-sparkles"></i><span>{{system.availableImprovements}}</span></button>{{/if}}
			</div>
			<div class="litm--fc-progress" data-click="increase" data-context="decrease" data-id="system.milestone"
				data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
				<div class="litm--fc-pips">
					{{#progress-buttons system.milestone 3}}
					<span class="litm--fc-pip {{#if @checked}}checked{{/if}}"></span>
					{{/progress-buttons}}
				</div>
				<input id="milestone" class="litm--sro" type="number" name="system.milestone" value="{{system.milestone}}" />
				<label for="milestone">{{localize "Litm.progress.milestone"}}</label>
			</div>
		</div>
	</div>

	<div class="litm--fc-right">
		<div class="litm--fc-description{{#if isGM}} litm--fc-description--with-camp{{/if}}">
			<div class="litm--fc-description-heading">
				<div class="litm--fc-section-label">{{localize "Litm.other.description"}}</div>
				<div class="litm--fc-motivation-row"><div class="litm--fc-motivation">
					<span class="litm--fc-quote litm--fc-quote-left">❞</span>
					<span class="litm--fc-motivation-input" contenteditable="true"
						data-input="motivation"
						data-placeholder="{{localize 'Litm.ui.name-motivation'}}">{{system.motivation}}</span>
					<input type="hidden" name="system.motivation"
						id="motivation" value="{{system.motivation}}" />
					<span class="litm--fc-quote litm--fc-quote-right">❞</span>
				</div></div>
			</div>
			{{#if isGM}}
			<button type="button" class="litm--fc-camp-button{{#if campActive}} active{{/if}}" data-click="open-camp"
				data-tooltip="{{localize (ifThen campActive 'Litm.camp.open' 'Litm.camp.open-setup')}}">
				<i class="fas fa-campground"></i>
			</button>
			{{/if}}
			<div class="litm--fc-note">
				<prose-mirror name="system.note" button="true" toggled="false" editable="true" value="{{system.noteRaw}}">
					{{{system.note}}}
				</prose-mirror>
			</div>
		</div>
		<div class="litm--fc-specials">
			<div class="litm--fc-section-label">{{localize "Litm.other.specials"}}</div>
			<ul class="litm--fc-specials-list">
				{{#each system.specials as |special idx|}}
					<li class="litm--fc-special-row{{#if special.isEditing}} is-editing{{/if}}" data-special-id="{{special.id}}">
						<img class="litm--fc-special-icon" src="systems/litm-rn/assets/media/icons/special_icn.svg" alt="" data-click="send-special-to-chat" data-special-id="{{special.id}}" />
						<div class="litm--fc-special-body">
							{{#if special.isEditing}}
								<span class="litm--fc-special-name" contenteditable="true"
									data-input="special-name-{{idx}}">{{special.name}}</span>
							{{else}}
								<span class="litm--fc-special-name" draggable="true"
									data-drag-special="{{special.id}}"
									data-drag-special-path="system.specials">{{special.name}}</span>
							{{/if}}
							<input type="hidden" name="system.specials.{{idx}}.name"
								id="special-name-{{idx}}" value="{{special.name}}" />
							<span class="litm--fc-special-separator">:</span>
							{{#if special.isEditing}}
								<span class="litm--fc-special-description-edit" contenteditable="true"
									data-input="special-desc-{{idx}}"
									data-placeholder="{{localize 'Litm.ui.name-special-description'}}">{{special.description}}</span>
							{{else}}
								<span class="litm--fc-special-description-enriched">{{{special.enrichedDescription}}}</span>
							{{/if}}
							<input type="hidden" name="system.specials.{{idx}}.description"
								id="special-desc-{{idx}}" value="{{special.description}}" />
						</div>
						<input type="hidden" name="system.specials.{{idx}}.id" value="{{special.id}}" />
						<div class="litm--fc-special-actions">
							<button type="button" class="litm--fc-special-toggle-edit"
								data-click="toggle-edit-special" data-id="{{special.id}}"
								data-tooltip="{{localize 'Litm.ui.edit'}}"><i class="{{#if special.isEditing}}fas fa-floppy-disk{{else}}fa-regular fa-pen-to-square{{/if}}"></i></button>
							<button type="button" class="litm--fc-remove" data-click="remove-special-tag" data-id="{{special.id}}"
								data-tooltip="{{localize 'Litm.ui.remove'}}"><i class="fas fa-times"></i></button>
						</div>
					</li>
				{{/each}}
				{{#unless system.specials.length}}
					<li class="litm--fc-empty">{{localize "Litm.ui.no-specials"}}</li>
				{{/unless}}
			</ul>
			<div class="litm--fc-special-add">
				<button type="button" data-click="add-special">{{localize "Litm.ui.add-special"}}</button>
			</div>
		</div>
	</div>

	<div class="litm--fc-members {{#unless isGM}}litm--fc-members--readonly{{/unless}}">
		{{#if isGM}}
		<button type="button" class="litm--fc-member-add" data-click="add-fellowship-member"
			data-tooltip="{{localize 'Litm.ui.add-member'}}">
			<i class="fas fa-plus"></i>
		</button>
		{{/if}}
		<div class="litm--fc-member-list">
			{{#each system.members as |member|}}
			<div class="litm--fc-member-slot {{#unless @root.isGM}}litm--fc-member-slot--readonly{{/unless}}">
				<button type="button" class="litm--fc-member-item" data-click="open-member-actor"
					data-id="{{member.actorId}}" data-tooltip="{{member.name}}">
					<img src="{{member.img}}" alt="{{member.name}}">
				</button>
				{{#if @root.isGM}}
				<span class="litm--fc-member-remove" data-click="remove-fellowship-member"
					data-id="{{member.actorId}}"><i class="fas fa-times"></i></span>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</div>
