<!-- Readonly version of the Fellowship Theme template -->
<!-- Intended for use embedded on a character sheet in a hero card -->
<input type="hidden" name="items.{{data._id}}.type" value="{{data.type}}" />
<div class="litm--theme-front">
	<div class="litm--taglist-wrapper">
		<div class="taglist">
			<button type="button" class="litm--theme-title" data-id="{{data.system.themeTag.id}}" {{#if (includes @root.rollTags
					data.system.themeTag.id 'id' )}}data-selected{{/if}} data-click="select"
					data-tooltip="{{localize (ifThen data.system.themeTag.isScratched 'Litm.ui.toggle-scratch' 'Litm.ui.toggle-non-burnable-tag')}}">
					<!-- Name input -->
					<span class="litm--theme-name {{#if data.system.themeTag.isScratched}}scratched{{/if}}">{{data.name}}</span>
					<!-- isBurnt checkbox -->
					<span class="litm--sro">{{localize (ifThen data.system.themeTag.isScratched 'Litm.tags.isScratched' 'Litm.tags.scratch')}}</span>
					<span class="litm--scratch {{checked (or data.system.themeTag.isScratched (includes @root.scratchedTags data.system.themeTag.id 'id'))}}"
						aria-hidden="true"></span>
					</button>
				<input type="hidden" name="items.{{data._id}}.system.themeTag.id" value="{{data.system.themeTag.id}}">
				<input type="hidden" name="items.{{data._id}}.system.themeTag.type" value="{{data.system.themeTag.type}}">
				<input type="hidden" name="items.{{data._id}}.system.themeTag.name" value="{{data.system.themeTag.name}}">
				<input type="hidden" name="items.{{data._id}}.system.themeTag.isScratched" data-dtype="Boolean" value="{{data.system.themeTag.isScratched}}">
			<ul class="litm--theme-tags">
				{{#each data.system.powerTags as |tag|}} {{> systems/litm-rn/templates/partials/crispy-power-tag.html
				tag=tag key=@key path=(concat 'items.' ../data._id '.system.powerTags') embedded=true}}
				{{/each}}
			</ul>
			<!-- Weakness -->
			{{#each data.system.weakness as |tag|}}
			<button type="button" class="litm--weakness" data-click="select"
				data-tooltip="{{localize 'Litm.ui.toggle-non-burnable-tag'}}" data-id="{{tag.id}}" {{#if (includes @root.rollTags
				tag.id 'id' )}}data-selected{{/if}}>
				<!-- Weakness Name -->
				<span class="litm--weakness-part">{{tag.name}}</span>
			</button>
			{{/each}}
		</div>
	</div>
</div>
<hr>
<div class="litm--theme-back">
	<div class="litm--taglist-wrapper">
		<ul class="taglist">
			{{#each data.system.specials as |special|}}
				{{> systems/litm-rn/templates/partials/special.html special=special key=@key path=(concat "items." ../data.system.id ".system.specials") embedded=true remove=false}}
			{{/each}}
		</ul>
	</div>
	<div class="litm--theme-progression">
		<!-- Abandon buttons -->
		<div data-click="increase" data-context="decrease" data-id="system.abandon"
			data-item-id="{{data._id}}" data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
			<div>
				{{#progress-buttons data.system.abandon 3}}
				<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
				{{/progress-buttons}}
				<input id="{{data._id}}-abandon" class="litm--sro" type="number" name="items.{{data._id}}.system.abandon" value="{{data.system.abandon}}" />
			</div>
			<label for="{{data._id}}-abandon">{{localize "Litm.progress.abandon"}}</label>
		</div>
		<!-- Improve buttons -->
		<div data-click="increase" data-context="decrease" data-id="system.improve"
			data-item-id="{{data._id}}" data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
			<div>
				{{#progress-buttons data.system.improve 3}}
				<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
				{{/progress-buttons}}
				<input id="{{data._id}}-improve" class="litm--sro" type="number" name="items.{{data._id}}.system.improve" value="{{data.system.improve}}" />
			</div>
			<label for="{{data._id}}-improve">{{localize "Litm.progress.improve"}}</label>
		</div>
		<!-- Milestone buttons -->
		<div data-click="increase" data-context="decrease" data-id="system.milestone"
			data-item-id="{{data._id}}" data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
			<div>
				{{#progress-buttons data.system.milestone 3}}
				<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
				{{/progress-buttons}}
				<input id="{{data._id}}-milestone" class="litm--sro" type="number" name="items.{{data._id}}.system.milestone" value="{{data.system.milestone}}" />
			</div>
			<label for="{{data._id}}-milestone">{{localize "Litm.progress.milestone"}}</label>
		</div>
	</div>
</div>

