<div class="litm--hero-wrapper litm--hero-wrapper item" data-item-id="{{hero.id}}" data-id="{{hero.id}}">
	<img width="250px" class="litm--hero-bg-frame" src="systems/litm/assets/media/background-frame.webp"
		aria-hidden="true">
	<div class="litm--hero-bg litm--hero-bg" data-context="menu">
		<div class="meta">
			<button class="litm--specials litm--specials-button" type="button" data-click="toggle-backside"
				data-type="hero" data-id="{{hero.id}}" data-tooltip="{{localize 'Specials'}}">
			<img src="systems/litm/assets/media/icons/{{ifThen hero.backside 'special_icn.svg' 'special-front_icn.svg'}}"
				alt="Specials" class="litm--specials-backside"/>
			</button>
			{{hero.name}}
		</div>
		{{#if hero.backside}}
			<ul class="taglist litm--hero-backside">
				{{#each hero.fulfillment as |tag|}}
					{{> systems/litm/templates/partials/fulfillment.html tag=tag key=@key path=(concat "items." ../hero.id ".system.fulfillment") embedded=true remove=false}}
				{{/each}}
			</ul>
			<div class="litm--hero-progression">
				<!-- Promise buttons -->
				<button data-click="increase" data-context="decrease" data-id="system.promise"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons hero.promise 5}}
							<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="promise" class="litm--sro" type="number" name="system.promise" value="{{hero.promise}}" />
					</div>
					<label for="promise">{{localize "Litm.progress.promise"}}</label>
				</button>
			</div>
		{{else}}
			<ul class="taglist">
				{{#each hero.contents as |tag|}}
					{{> systems/litm/templates/partials/relationship.html tag=tag key=@key path=(concat "items." ../hero.id ".system.contents") embedded=true remove=false}}
				{{/each}}
			</ul>
			<div class="litm--hero-progression">
				<!-- Promise buttons -->
				<button data-click="increase" data-context="decrease" data-id="system.promise"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons hero.promise 5}}
							<span class="litm--checkbox litm--checkbox-with-bg hero {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="promise" class="litm--sro" type="number" name="system.promise" value="{{hero.promise}}" />
					</div>
					<label for="promise">{{localize "Litm.progress.promise"}}</label>
				</button>
			</div>
		{{/if}}
	</div>
</div>