<form autocomplete="off" class="litm--hero-wrapper">
	<img width="270px" class="litm--hero-bg-frame" src="systems/litm-rn/assets/media/background-frame.webp"
		aria-hidden="true">
	<div class="litm--hero-bg">
		<div class="meta">
			<button class="litm--specials litm--specials-button" type="button" data-click="toggle-backside"
				data-tooltip="{{localize 'Litm.other.specials'}}">
				<img src="systems/litm-rn/assets/media/icons/{{ifThen backside 'special_icn.svg' 'special-front_icn.svg'}}"
					alt="{{localize 'Litm.other.specials'}}" class="litm--specials-backside"/>
			</button>
			{{localize 'Litm.other.hero-card'}}
		</div>
		<input class="title" name="name" value="{{name}}" />
		{{#if backside}}
			<ul class="taglist litm--hero-backside">
				{{#each hero.fulfillment as |tag|}}
					{{> systems/litm-rn/templates/partials/fulfillment.html tag=tag key=@key path="system.fulfillment" embedded=false remove=false}}
				{{/each}}
			</ul>
			<div class="litm--hero-progression">
				<!-- Promise buttons -->
				<button data-click="increase" data-context="decrease" data-id="system.promise"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons hero.promise 5}}
						<span class="litm--checkbox litm--checkbox-with-bg hero {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="promise" class="litm--sro" type="number" name="system.promise" value="{{hero.promise}}" />
					</div>
					<label for="promise">{{localize "Litm.progress.promise"}}</label>
				</button>
			</div>
		{{else}}
			<ul class="taglist">
				{{#each hero.contents as |tag|}}
					{{> systems/litm-rn/templates/partials/relationship.html tag=tag key=@key path="system.contents" readonly=false remove=true}}
				{{/each}}
			</ul>
			<button type="button" data-click="add-tag">{{localize "Litm.ui.add-relationship"}}</button>
		{{/if}}
	</div>
</form>