<form autocomplete="off" class="litm--hero-wrapper">
	<img width="270px" class="litm--hero-bg-frame" src="systems/litm-rn/assets/media/background-frame.webp"
		aria-hidden="true">
	<div class="litm--hero-bg">
		<div class="meta">
			<button class="litm--specials litm--specials-button" type="button" data-click="toggle-backside"
				data-tooltip="{{localize 'Litm.other.specials'}}">
				<img src="systems/litm-rn/assets/media/icons/{{ifThen backside 'special_icn.svg' 'special-front_icn.svg'}}"
					alt="{{localize 'Litm.other.specials'}}" class="litm--specials-backside"/>
			</button>
			{{localize 'Litm.other.hero-card'}}
		</div>
		<input class="title" name="name" value="{{name}}" />
		{{#if backside}}
			<li class="litm--fellowship-link">
				{{#if fellowship}}
					<span class="litm--fellowship-name"
							data-context="unlink-fellowship"
							data-id="{{fellowship.id}}"
							data-tooltip="{{localize 'Litm.ui.fellowship-linked'}}">
						<i class="litm--fellowship-icon"></i>
						{{fellowship.name}}
					</span>
				{{else if hasAssignedUser}}
					{{#if availableFellowships.length}}
						<div class="litm--fellowship-dropdown">
							<select data-action="select-fellowship">
								<option value="">{{localize "Litm.ui.select-fellowship"}}</option>
								{{#each availableFellowships as |group|}}
									<option value="{{group.id}}">{{group.name}}</option>
								{{/each}}
							</select>
						</div>
					{{else}}
						<span class="litm--fellowship-empty">
							{{localize "Litm.ui.no-fellowships"}}
						</span>
					{{/if}}
				{{else}}
					<span class="litm--fellowship-empty">
						{{localize "Litm.ui.no-assigned-user"}}
					</span>
				{{/if}}
			</li>
			{{#if fellowship}}
				<div class="litm--fellowship-wrapper" data-dblclick="open-item" data-id="{{fellowship.id}}"
					data-tooltip="{{localize 'Litm.ui.open-item'}}"
					style="background-image: url('systems/litm-rn/assets/media/{{fellowship.system.level}}-fellowship-bg.webp');">
					<div class="litm--fellowship-scroll">
						<span class="litm--fellowship-motivation">{{fellowship.system.motivation}}</span>
						<div class="litm--fellowship-note">{{{fellowship.system.note}}}</div>
					</div>
				</div>
			{{else}}
			<div class="litm--fellowship-wrapper-empty"></div>
			{{/if}}
			<div class="litm--hero-progression">
				<!-- Promise buttons -->
				<button data-click="increase" data-context="decrease" data-id="system.promise"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons hero.promise 5}}
						<span class="litm--checkbox litm--checkbox-with-bg hero {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="promise" class="litm--sro" type="number" name="system.promise" value="{{hero.promise}}" />
					</div>
					<label for="promise">{{localize "Litm.progress.promise"}}</label>
				</button>
			</div>
		{{else}}
			<ul class="taglist">
				{{#each hero.contents as |tag|}}
					{{> systems/litm-rn/templates/partials/relationship.html tag=tag key=@key path="system.contents" readonly=false remove=true}}
				{{/each}}
			</ul>
			<button type="button" data-click="add-tag">{{localize "Litm.ui.add-relationship"}}</button>
		{{/if}}
	</div>
</form>