<!-- Readonly version of the Theme template -->
<!-- Intended for use embedded on a character sheet -->
<input type="hidden" name="items.{{data._id}}.type" value="{{data.type}}" />
<div class="litm--theme-background {{data.system.level}}" data-context="menu"
	data-tooltip="{{localize 'Litm.ui.context-edit'}}" data-tooltip-direction="LEFT">
	<div class="litm--theme-top">
		<img class="litm--theme-border-top" src="{{themesrc}}-theme-border-top.webp" aria-hidden="true" />
		<div class="litm--theme-top-bg">
			<div class="litm--theme-meta" style="--theme-src:url('/{{themesrc}}-theme-alt-bg-top.webp');">
				<!-- <span class="litm--theme-meta-part" style="--theme-src:url('{{themeiconsrc}}_litm_icn.svg')">{{localize data.system.level}}
					{{localize "TYPES.Item.theme"}}</span> -->
				<button class="litm--specials litm--specials-button" type="button" data-click="toggle-backside"
					data-type="theme" data-id="{{data._id}}" data-tooltip="{{localize 'Litm.other.specials'}}">
					<img src="systems/litm/assets/media/icons/{{ifThen data.system.backside 'special_icn.svg' 'special-front_icn.svg'}}"
					alt="{{localize 'Litm.other.specials'}}" class="litm--specials-backside"/>
				</button>
				<span class="litm--theme-meta-part">
					<img class="" src="{{themeiconsrc}}_litm_icn.svg" aria-hidden="true" />
				</span>
				<span class="litm--theme-meta-part">{{data.system.themebook}}</span>
			</div>
			{{#if data.system.backside}}
				<div class="litm--theme-back">
					<button type="button" class="litm--theme-title" data-id="{{data._id}}" {{#if (includes @root.rollTags
						data._id 'id' )}}data-selected{{/if}}>
						<span class="litm--theme-name">{{data.name}}</span>
					</button>
					<ul class="taglist">
						{{#each data.system.specials as |special|}}
							{{> systems/litm/templates/partials/special.html special=special key=@key path=(concat "items." ../data.system.id ".system.specials") embedded=true remove=false}}
						{{/each}}
					</ul>
				</div>
			{{else}}
				<div class="litm--theme-front">
					<button type="button" class="litm--theme-title" data-id="{{data._id}}" {{#if (includes @root.rollTags
						data._id 'id' )}}data-selected{{/if}} {{#if data.system.isActive}}data-click="select"
						data-tooltip="{{localize (ifThen data.system.isBurnt 'Litm.ui.toggle-burnt' 'Litm.ui.toggle-roll')}}" {{/if}}>
						<!-- isActive checkbox -->
						<span class="litm--sro">{{localize (tagActiveString data.system true)}}</span>
						<span class="litm--checkbox litm--checkbox-with-bg {{checked data.system.isActive}}"></span>
						<!-- Name input -->
						<span class="litm--theme-name">{{data.name}}</span>
						<!-- isBurnt checkbox -->
						<span class="litm--sro">{{localize (ifThen data.system.isBurnt 'Litm.tags.isBurnt' 'Litm.tags.burn')}}</span>
						<span class="litm--burn {{checked (or data.system.isBurnt (includes @root.burntTags data._id 'id'))}}"
							aria-hidden="true"></span>
					</button>
					<ul class="litm--theme-tags">
						{{#each data.system.powerTags as |tag|}} {{> systems/litm/templates/partials/tag.html
						tag=tag key=@key path=(concat 'items.' ../data._id '.system.powerTags') embedded=true}}
						{{/each}}
					</ul>
					<!-- Weakness -->
					{{#each data.system.weakness as |tag|}}
					<button type="button" class="litm--weakness" data-click="select"
						data-tooltip="{{localize 'Litm.ui.toggle-non-burnable-tag'}}" data-id="{{tag.id}}" {{#if (includes @root.rollTags
						tag.id 'id' )}}data-selected{{/if}}>
						<!-- Weakness Name -->
						<span class="litm--weakness-part">{{tag.name}}</span>
					</button>
					{{/each}}
				</div>
			{{/if}}
			<div class="litm--theme-progression">
				<!-- Abandon buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.abandon"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons data.system.abandon 3}}
						<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="{{data._id}}-abandon" class="litm--sro" type="number" name="items.{{data._id}}.system.abandon" value="{{data.system.abandon}}" />
					</div>
					<label for="{{data._id}}-abandon">{{localize "Litm.progress.abandon"}}</label>
				</div>
				<!-- Improve buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.improve"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons data.system.improve 3}}
						<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="{{data._id}}-improve" class="litm--sro" type="number" name="items.{{data._id}}.system.improve" value="{{data.system.improve}}" />
					</div>
					<label for="{{data._id}}-improve">{{localize "Litm.progress.improve"}}</label>
				</div>
				<!-- Milestone buttons -->
				<div data-click="increase" data-context="decrease" data-id="system.milestone"
					data-tooltip="{{localize 'Litm.ui.inc-dec'}}">
					<div>
						{{#progress-buttons data.system.milestone 3}}
						<span class="litm--checkbox litm--checkbox-with-bg {{#if @checked}}checked{{/if}}"></span>
						{{/progress-buttons}}
						<input id="{{data._id}}-milestone" class="litm--sro" type="number" name="items.{{data._id}}.system.milestone" value="{{data.system.milestone}}" />
					</div>
					<label for="{{data._id}}-milestone">{{localize "Litm.progress.milestone"}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="litm--theme-bottom">
		<img class="litm--theme-border-bottom" src="{{themesrc}}-theme-border-bottom.webp" aria-hidden="true" />
		<div class="litm--theme-bottom-bg" style="--theme-src:url('/{{themesrc}}-theme-bg-bottom.webp');">
			<div class="motivation" data-tooltip="{{data.system.note}}">
				<span role="textbox">{{data.system.motivation}}</span>
				<input type="hidden" name="items.{{data._id}}.system.motivation" value="{{data.system.motivation}}" />
			</div>
		</div>
	</div>
</div>