{{#*inline 'consequence' consequence key}}
  <div class="litm--consequence-row-wrapper" data-id="{{key}}">
    {{#if @root.editable}}
      <prose-mirror
        class="litm--consequence-editor"
        name="system.consequences.{{key}}"
        button="true"
        toggled="false"
        editable="true"
        value="{{consequence}}">
        <div class="litm-consequences-editor-wrapper">
          <img class="litm--consequences-icon" src="systems/litm-rn/assets/media/icons/litm_fail_icn.svg" alt="Icon" />
          <div class="litm--consequences-content" data-tooltip="{{localize 'Litm.ui.context-open-menu'}}" data-tooltip-direction="LEFT">
            {{{lookup @root.consequencesHTML key}}}
          </div>
        </div>
      </prose-mirror>
    {{else}}
      <div class="litm--consequences-content" data-tooltip="{{localize 'Litm.ui.context-open-menu'}}" data-tooltip-direction="LEFT">
        {{{lookup @root.consequencesHTML key}}}
      </div>
    {{/if}}
  </div>
{{/inline}}

<div class="litm--threat-sheet">
  <div class="litm--threat-box">
    <span role="textbox" aria-labelledby="threat-label" contenteditable data-input="threat" class="litm--threat-name">{{title}}</span>
    <span role="textbox" aria-labelledby="threat-desc-label" contenteditable data-input="threat-desc" class="litm--threat-desc">{{system.threat}}</span>
    <input type="hidden" name="name" id="threat" value="{{title}}" required />
    <input type="hidden" name="system.threat" id="threat-desc" value="{{system.threat}}" required />
  </div>

  <label class="litm--sro" id="consequence-label">{{localize 'Litm.other.consequence'}}</label>
  
  <ul class="litm--threat-wrapper">
    {{#each consequences as |consequence i|}}
      <li data-id="{{i}}" data-context-consequence>
        {{> consequence consequence=consequence key=i}}
      </li>
    {{/each}}
    
    <button type="button" class="litm--consequence-add" data-click="add-consequence">
      <span>{{localize "Litm.ui.add-consequence"}}</span>
    </button>
  </ul>
</div>
